.loader-container{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  &--small{
    width: 100%;
    height: 100%;
  }
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3c3f41;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    &--small{
      width: 30%;
      height: 30%;
    }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}
