header {
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(123,123,123,0.3);
  select{
    margin-left: auto;
    width: 10%;
    background: transparent;
  }
  h1{
    margin-left: auto;
  }
}
