body{
    /*margin: 10px;*/
    margin: 0;

}

#root{
    display: flex;
    flex-direction: column;
}
h1,h2{
    text-align: center;
}



.container{
   width: 20%;
   margin: 25px;
}



select{
    width: 33.333%;
    height: 50px;
}

@media  (max-width: 1200px)  {
    .container{
        width: 30%;
    }
}
@media  (max-width: 900px)  {
    .container{
        width: 40%;
    }
}

@media  (max-width: 600px)  {
    .container{
        width: 90%;
    }
}
