.background{
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.default{
  background-image: url("../../assets/body-images/1.jpg");

}
.style-1{
  background-image: url("../../assets/body-images/1.jpg");

}
.style-2{
  background-image: url("../../assets/body-images/2.jpg");

}
.style-3{
  background-image: url("../../assets/body-images/3.png");

}
.style-4{
  background-image: url("../../assets/body-images/2.jpg");

}
