.background{
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url("../../assets/body-images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
